@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
	--font-body: 'Inter', sans-serif;

	--color-keppel: #44b097;
	--color-mint: #aff5bf;
	--color-jungle: #0a1d20;
	--color-clover: #549454;
	--color-silver: #d4d4dc;
	--color-moss: #2e503c;
}
